.header{
    -fx-background-color: linear-gradient(to bottom right,#098c53,#246861);
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right,#0f6789,#286155);
}
#manu_label_1{
    -fx-text-fill: #fff;
}
#username{
    -fx-text-fill: #fff;
}

#menu_label_2{
    -fx-text-fill: #fff;
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
.logout{
    -fx-background-color: #106abf;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 20px;
}
.logout:hover{
    -fx-background-color: #a71931;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),5,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
}
.radius{
    -fx-background-radius: 8px;
}
.transparent{
    -fx-background-color: transparent;
}
#people_icon{
    -fx-text-fill: #fff;

    -fx-font-size: 50px;
}
#card_1_label_1{
    -fx-text-fill: #fff;
}
#card_1_label_2{
    -fx-text-fill: #fff;
}
#doller{
    -fx-text-fill: #fff;
    -fx-font-size: 22px;
}
#card_2_label_1,#card_2_label_2,#money_icon,#card_3_label_1,#card_3_label_2,#card_4_label_1,#card_4_label_2,#cart_icon{
    -fx-text-fill: #fff;
}

.tree-table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right,#0f6789,#286155);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}
.tree-table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right,#0f6789,#286155);
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.tree-table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.tree-table-view .column-header .label{
    -fx-text-fill: #fff;
}

.btn{
    -fx-background-color:linear-gradient(to bottom right,#098c53,#246861) ;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right,#0f6789,#286155);
}